<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>FIS</title>
</head>
<body>
    <header>
        <button type="button" class="HS_logo">

        </button>
        <div class="delimiter">
        </div>
    </header>


    <div class="IO">
        <div class="wrapper">
            <img src="{{url_for('static', filename='hs_logo.jpg')}}" alt="" id="logo" width="400" height="200">
        </div>
            
        <h1>Login</h1>
        <div class="Username">
            <input type="text" name="Username" id="username" placeholder="Nutzername"><br><br>
        </div>
        <div class="Password">
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
    </div>

    <footer>
        
    </footer>
</body>
</html>